<h1>Delete Movies</h1>

<%= form_with(url: exclude_movies_url, multipart: true) do |form| %>
  <div>
    <%= form.label :file, "Selecione o arquivo JSON de filmes para exclusão" %>
    <%= form.file_field :file, id: "delete-file-input", accept: "application/json", onchange: "showSubmitButton()" %>
  </div>
  <div>
    <%= form.text_field :json_data, style: "display: none", id: "delete-json-data-field" %>
  </div>

  <div id="submit-button" style="display: none;">
    <%= form.submit "Enviar" %>
  </div>
<% end %>

<script>
  function showSubmitButton() {
    var fileInput = document.getElementById('delete-file-input');
    var submitButtonDiv = document.getElementById('submit-button');
    
    if (fileInput && fileInput.files.length > 0) {
      submitButtonDiv.style.display = 'block';
    } else {
      submitButtonDiv.style.display = 'none';
    }
  }
  
document.addEventListener('DOMContentLoaded', function() {
  const deleteFileInput = document.querySelector('#delete-file-input');
  const deleteJsonDataField = document.querySelector('#delete-json-data-field');

  deleteFileInput.addEventListener('change', function(event) {
    const file = event.target.files[0];
    const reader = new FileReader();

    reader.onload = function(e) {
      const jsonData = e.target.result;
      deleteJsonDataField.value = jsonData;
    };

    reader.readAsText(file);
  });
});
</script>
