<!DOCTYPE html>
<html>
<head>
  <title>MovieApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    nav {
      padding: 10px;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin-right: 10px;
    }

    nav a:hover {
      text-decoration: underline;
    }

    .custom-link {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 5px 10px;
      border-radius: 3px;
      cursor: pointer;
      text-decoration: none;1
    }

    .custom-link:hover {
      opacity: 0.8;
    }

    form {
      display: inline;
    }

    input#logout {
      background-color: #dc3545; /* vermelho */
      color: #fff;
      border: none;
      padding: 5px 10px;
      border-radius: 3px;
      cursor: pointer;
      text-decoration: none;
      font-size: 17px;
      margin-right: 10px
    }

    input#logout:hover {
      background-color: #c82333; /* vermelho mais escuro ao passar o mouse */
    }

    input[type="submit"] {
      border: none;
      padding: 5px 10px;
      border-radius: 3px;
      cursor: pointer;
    }

    input#create-user,  {
      background-color: #007bff; /* azul */
      color: #fff;
    }

    input[type="submit"]:hover {
      opacity: 0.8;
    }
  </style>
</head>

<body>
  <nav>
    <% if current_user %>
      <% if request.path == movies_path %>
        <%= form_tag logout_path, method: :delete do %>
        <%= submit_tag "Logout", id: "logout" %>
      <% end %>
      <% end %>
      <% if current_user.admin? && request.path != new_user_path %>
        <%= link_to "Create User", new_user_path, class: "custom-link" %>
      <% end %>
      <% if request.path != movies_path && request.path != root_path   %>
        <%= link_to "Movies", movies_path, class: "custom-link" %>
      <% end %>
    <% end %>
  </nav>

  <%= yield %>
</body>
</html>
